body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 5;
  padding-bottom: 0;
}

.navbar-brand {
  transition: all 0.3s;
  font-size: 40px;
}

.navbar-toggler {
  margin-bottom: 8px;
}

.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}

.list-group {
  visibility: hidden;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.5s;
}

.list-show {
  visibility: visible;
  height: 206px;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show {
  visibility: visible;
  opacity: 1;
}

.dark {
  color: white;
  background-color: rgb(21, 21, 21);
}

.slide-container {
  width: 300vw;
  transition: all 1s;
}

.slide-box {
  width: 100vw;
  float: left;
}

.slide-box img {
  object-fit: contain;
  width: 100%;
  height: 400px;
}

.scrollBar {
  width: 0;
  height: 1px;
  border: 1px solid black;
}
